version: '3.9'

services:
  netflix-notifier:
    build: .
    image: bouba89/netflix-bot:latest  
    container_name: bouba_discord_netflix_notifier
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    env_file:
      - .env
    restart: unless-stopped
